<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Onboshi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Onboshi</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-range min="0" max="1000" step="1" [(ngModel)]="x" (ngModelChange)="updatePosition()"></ion-range>
  <ion-range min="0" max="1000" step="1" [(ngModel)]="y" (ngModelChange)="updatePosition()"></ion-range>
  {{geolocStatus}}, {{playerStatus}}
</ion-content>

<div id="container" [ngStyle]="{'height': '150px', 'width': '150px'}"></div>
